name: Release npm package

on:
  push:
    tags:
    - 'v*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pkg:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '25.x'
        registry-url: https://registry.npmjs.org/
        scope: '@appthreat'
    - uses: coursier/cache-action@v6
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
    - uses: sbt/setup-sbt@v1
    - uses: coursier/setup-action@v1
      with:
        apps: scala3 scalac
    - name: Build
      run: |
        sudo apt update -y
        sudo apt install -y zlib1g php-zip tree
        sbt stage createDistribution
        sha512sum target/atom.zip > target/atom.zip.sha512
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '4.0.1'
        bundler-cache: false
    - name: Generate SBOM with cdxgen
      run: |
        npm install -g @cyclonedx/cdxgen
        cdxgen -t sbt -o sbom-build.cdx.json . -p --no-recurse
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Prepare 4.0.0 version
      run: |
        cd wrapper/nodejs
        bash build.sh
        npm publish --dry-run
    - name: Publish
      run: |
        cd wrapper/nodejs
        bash build.sh
        npm publish --provenance --access=public
      if: startsWith(github.ref, 'refs/tags/')
  npm-release-tests:
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/')
    needs: pkg
    permissions:
      contents: read
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '25.x'
          registry-url: https://registry.npmjs.org/
      - uses: coursier/cache-action@v6
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Install atom latest
        run: |
          npm install -g @appthreat/atom @appthreat/atom-parsetools
          atom --help
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0.1'
          bundler-cache: false
      - name: Check rbastgen 4.0.0
        run: |
          rbastgen --help
